<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.css" rel="stylesheet">

    <title>Registration</title>
    <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body style="background: lightgoldenrodyellow">
<div th:replace="header::top_header">
</div>
<div class="page-header container-sm">
    <h2><u>Edit Users</u></h2>
</div>

<form method="post" modelAttribute="user" th:object="${user}" th:action="@{'/user/register'}">
    <div class="container-sm">

        <div class="form-group">
            <label class="col-sm-2 col-form-label" for="inputname">ID</label>
            <div class="col-sm-10">
                <input class="form-control" name="id" th:field="*{id}" readonly="readonly" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label" for="inputname">Name</label>
            <div class="col-sm-10">
                <input class="form-control" id="inputname" name="name" th:field="*{name}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input class="form-control" name="address" th:field="*{address}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input class="form-control" name="email" th:field="*{email}" type="email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input class="form-control" name="password" th:field="*{password}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Phone No. :</label>
            <div class="col-sm-10">
                <input class="form-control" name="phoneNo" th:field="*{phoneNo}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Department</label>
            <div class="col-sm-10">
                <select class="form-control" name="department" th:field="*{department}">
                    <option th:each="dept:${depts}" th:text="${dept}" th:value="${dept}">---select
                        department---
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <button class="btn btn-primary btn-success" type="submit">Update</button>
                <a th:href="@{/user/all}" class="btn btn-danger">Cancle</a>
            </div>
        </div>

    </div>
</form>
<div th:replace="footer::footer"></div>
</body>
</html>
