<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap4.min.css">
    <title>Registration</title>
    <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            th:src="@{/js/popper.min.js}"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
</head>
<body style="background: lightgoldenrodyellow">
<div th:replace="header::top_header">
</div>
<div class="page-header container-sm">
    <h2><u>Users Information</u></h2>
</div>

<div class="container-sm">
    <table id="example" class="table table-sm table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
            <th scope="col">Phone No</th>
            <th scope="col">Department</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <th scope="row" th:text="${userStat.count}">1</th>
            <td ${user} th:text="${user.name}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phoneNo}"></td>
            <td th:text="${user.department}"></td>
            <td>
                <a class="btn btn-warning btn-xs" th:href="@{'/user/edit/'+ ${user.id}}">
                    <span class="glyphicon glyphicon-pencil">Edit</span>
                </a>
                <a class="btn btn-danger btn-xs"
                   onclick="return confirm('Are you sure to Delete ?')" th:href="@{'/user/delete/'+ ${user.id}}">
                    <span class="glyphicon glyphicon-trash">Delete</span>
                </a>
            </td>

        </tr>

        </tbody>
    </table>

</div>
<div th:replace="footer::footer"></div>
<script>$(document).ready(function () {
    $('#example').DataTable();
});</script>
</body>
</html>
